# =====================
# Java
# =====================
*.class
*.log

# =====================
# Eclipse
# =====================
.project
.classpath
.settings/
bin/
build/

# =====================
# Maven
# =====================
target/

# =====================
# Server
# =====================
Servers/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db